[submodule "packs/ddm"]
	path = packs/ddm
	url = https://github.com/nebuIr/Default-Dark-Mode.git
[submodule "packs/immersive"]
	path = packs/immersive
	url = https://github.com/Shrimpsnail/Immersive-Interfaces.git
[submodule "packs/faithful"]
	path = packs/faithful
	url = https://github.com/Faithful-Resource-Pack/Faithful-32x-Java.git
